.container {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Style the header */
.header {
  text-align: left;
  background-size: 60%;
  background-image: url('./images/Header_bg.png');
  background-repeat: no-repeat;
  background-position: right;
  height: 650px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 50px 0 0 0; /* Move Title down to be between two ferrets on the BG*/
}
.header h1 {
  font-size: 160px;
  margin: 0;
}
.header h2 {
  font-size: 60px;
  margin: 0;
}
.header p {
  font-size: 18px;
  font-weight: 300;
  margin: 0 0 20px 0;
}

.viewMoreLink {
  color: #d70629;
  text-decoration: none;
  font-size: 14px;

}

/* Style the top navigation bar */
.top_navbar {
  overflow: hidden;
  background-color: black;

}

/* Style the navigation bar links */
.top_navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: inline-block; /* Change the display to block, for responsive reasons (see below) */
  color: lightgray; /* Black text color */
  text-align: center; /* Center the text */
  padding: 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
  font-size: 14px;
}


/* Change color on hover/mouse-over */
.top_navbar a:hover {
  color: white; /* highliting font on hover*/
}
.top_navbar .nav_right {
  float: right;
}
#logo {
  font-size: 80px;
  margin: 0;
  padding: 0;
  color: #d70629;
  font-weight: 600;
}

.middle_navbar {
  background-color: white;
  height: 120px;
}

.middle_navbar a {
  padding: 40px 30px 30px 30px ;
  font-size: 16px;
  color: black;
  font-weight: 600;
}
/* Change color on hover/mouse-over */
.middle_navbar a:hover {
  color: #d70629;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex:10%;
  background-color: #f1f1f1;
  padding: 20px;
  height: auto;
}

/* Main column */
.main {
  flex: 80%;
  background-color: white;
  padding: 20px;
}

.main a {
  text-decoration: none; /* Remove underline */
  color: dimgrey;
}

.main p {
  line-height: 1.3;
}
/*Working area*/

.imageWrapper {
  /*background: url('/react_app_internship/images/Avatar.jpg');*/
  background-position: center;
  width: 100%;
  height: 200px;
  position: relative;
  background-size: cover;
}
.imageWrapper::before{
  position: absolute;
  content: '';
  background-color: rgba(0,0,0,0.4);
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
}
/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 80%;
  padding: 20px;
  height:60px;
}
.bigImg {
    height: 200px;
}
footer {
  background-color: black;
  flex: 70%;
  padding: 5px;
  height: 70px;
}
footer p {
  text-align: right;
  color: whitesmoke;
}
footer p:hover {
  flex: 70%;
  color: #dddddd;
  display: block;
}

